*.aux
*.class
*.chi
*.chs.h
*.dyn_hi
*.dyn_o
*.eventlog
*.hi
*.hp
*.lock
*.o
*.prof
*~
.cabal-sandbox/
.ghc.environment.*
.hpc
.hsenv
.stack-work/
/src/Lexer.hs
/src/Parser.hs
/test/*.java
/test/out/
cabal-dev
cabal.project.local
cabal.sandbox.config
dist
dist-*
